@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --body-bg: #F8F6F6;
    --header-bg: #353288;
    --font-family: 'Montserrat', sans-serif;
}

/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  list-style-type: none;
  text-decoration: none;
  font-family: var(--font-family);
}

/* Header */

    header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 90px;

        background: var(--header-bg);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        align-items: center;
    }
    header img{
        padding-left: 25px;
        height: 100%;
    }
    header .ul-1 li{
        display: inline-block;
        padding-right: 25px;
    }
    header .ul-1 li a{
        color: #fff;
    }
    header .menu{
        position: relative;
        width: 30px;
        height: 100%;
        cursor: pointer;
            
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-right: 25px;
        z-index: 1000;
    }     
    header .menu_burguer{
        width: 30px;
        height: 4px;
        background-color: #fff;
        border-radius: 15px;
          
        position: relative;
    }   
    .menu_burguer.open{
        transform: rotate(-405deg);
    }
    .menu_burguer.open::before{
        display: none;
    }            
    .menu_burguer.open::after{
        bottom: 0;
        transform: rotate(90deg);
    }                  
    .menu_burguer::before{
        content: '';
        position: absolute;
        border-radius: inherit;
        width: inherit;
        
        height: inherit;
        top: -10px;
        background-color: inherit;
    }          
    .menu_burguer::after{
        content: '';
        position: absolute;
        border-radius: inherit;
        width: inherit;
        
        height: inherit;
        bottom: -10px;
        background-color: inherit;
    }
    .hidden_nav{
        position: fixed;
        inset: 0;
        background-color: rgba(16, 53, 172, .6);
        transform: translateY(-100dvh);
        
        z-index: 1;
        text-align: center;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
    .hidden_nav.open{
        transform: translateY(0);
    }
    .ul-2 li{
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        font-size: 30px;
    }
    .ul-2 li a{
        color: #fff;
    }
        

/* Main */

    main{
        width: 100%;
        height: calc(100dvh - 90px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main section{
        color: black;
        text-align: center;
    }
    main button{
        margin-top: 15px;
        padding: 8px 15px;
        border: none;
        border-radius: 8px;
        
        color: #fff;
        background-color: var(--header-bg);
        cursor: pointer;
        font-size: 20px;
    }

    @media screen and (max-width: 550px) {
        header .menu{
            display: flex;
        }
        .ul-1{
            display: none;
        }
    }
